extends layout

block content
    .banner
        img(src='/images/lightbulb.png').bannerBox#lightbulb
        .bannerBox
            h1= title
            p Welcome to #{title}
            // Link back to basic view
            a(href='/')
                button.btn Basic view
            br
            button.btn#toggleRead Toggle Readings
    //- .statsHolder
    //-     .stat Power:    
    //-         #power
    //-     .stat Voltage:    
    //-         #voltage
    //-     .stat Current:    
    //-         #current
    //-     .stat Total Energy:    
    //-         #energy
    .chartHolder
        .chart#chartContainer1
        .chart#chartContainer2
        .chart#chartContainer3
        .chart#chartContainer4