extends layout

block content
    .banner
        img(src='/images/lightbulb.png').bannerBox#lightbulb
        .bannerBox
        h1= title
        p Welcome to #{title}
        // Link back to basic view
        a(href='/')
            button.btn Basic view
        br
        button.btn#toggleRead Toggle Readings
    .chartHolder
        .chart#chartContainer1
        .chart#chartContainer2
        .chart#chartContainer3
        .chart#chartContainer4
    .statsHolder
        p.stat#power
        p.stat#voltage
        p.stat#current
        p.stat#energy