extends layout

block content
    .banner
        img(src='/images/lightbulb.png').bannerBox#lightbulb    
        .bannerBox
            h1= title
            p Welcome to #{title}
            // Link to advanced view
            a(href='/advanced')
                button.btn Advanced view
            br
            button.btn#getData Get sensor data
            #pythonMessage
    .chartHolder
        .chart#barChart1
    //- .chart#barChart2