extends layout

block banner
    .banner
        //- img(src='/images/lightbulb.png').bannerBox#lightbulb
        .bannerBox
            .titleBox
                span.iconHeader
                    i.fas.fa-bolt
                span.titleHeader
                    h1= title
            //- p Welcome to #{title}
            p This website is for use with the human powered electrical energy demonstration system running on a Raspberry Pi.
            p Please login if you wish to access additional settings.
            
            nav
                // Button to change to basic view
                button.nav#basic Bar Charts
                
                // Button to change to advanced view
                button.nav#advanced Line Charts

                //- // Button to toggle readings
                button.enabled#temperature Temperatures

                a(href='/settings')
                    button.nav#settings Settings

                if authorised
                    a(href='/logout')
                        button.nav#logout Logout
                else
                    a(href='/login')
                        button.nav#login Login
             
block content
    .content       
        .graphs
            .tab#basic
                .chartHolder#basic
                    .chartBasic#chartContainerPower1
                    .chartBasic#chartContainerPower2
            .tab#advanced
                nav.graph
                    button.graph.enabled#bike Bike
                    button.graph.enabled#handcrank Handcrank
                .chartHolder.bike#advanced
                    .chartAdv#chartContainer1
                    .chartAdv#chartContainer2
                    .chartAdv#chartContainer3
                    .chartAdv#chartContainer4        
                .chartHolder.handcrank#advanced
                    .chartAdv#chartContainer5
                    .chartAdv#chartContainer6
                    .chartAdv#chartContainer7
                    .chartAdv#chartContainer8
                        
        .temp-box
            h2 Temperatures
            .temp-row
                .column
                    h3 Water:
                    h3 Target:  
                    h3 Ambient:
                    h3 Kettle:
                    h2 Time to boil
                    h3 Bike:
                    h3 Handcrank:
                .column
                    h3
                        span#amount
                        span ml
                    h3
                        span#target
                        span &degC
                    h3
                        span#ambient
                        span &degC
                    h3
                        span#kettle
                        span &degC         
                    h2
                        br
                    h3
                        span#est-time-bike
                    h3
                        span#est-time-handcrank                        