doctype html
html
    head
        title= title
        // Load CSS stylesheet
        link(rel='stylesheet', href='/stylesheets/style.css')

        // Load socket.io
        script(src='/socket.io/socket.io.js')

        // Load jQuery
        script(src='/javascripts/jquery-3.2.1.min.js')

        // Load canvasJS
        script(src='/javascripts/jquery.canvasjs.min.js')
        
        // Load local javascript
        script(src='/javascripts/'+ page + '.js')

        // Load Font Awesome script for icons
        script(src='/javascripts/fontawesome-all.js')        

        block head

    body
        block banner
        block content
    