extends layout

block banner
    .banner
        img(src='/images/lightbulb.png').bannerBox#lightbulb
        .bannerBox
            h1= title

            a(href='/')
                button.nav#home Home

            form(action="/login", method="post")
                label(for="username") Username
                br
                input(type="text", name="username", required)
                br
                label(for="password") Password
                br
                input(type="password", name="password", required)
                if message
                    .loginError= message
                input(type="submit", value="Login")

block content
    .content



