body {
    padding: 0em 1em;
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: auto;
    background-color: #8c8c8c;
}

a {
    color: #00B7FF;
}

.tab {
    min-height: 5em;
    margin: auto;
}

.graphs {
    display: inline;
}

img#lightbulb {
    padding-top: 2em;
    padding-right: 2em;
    height: auto;
    max-width: 5em;
}

.chartHolder {
    max-height: 80%;
    width: 100%;
    margin: auto;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
}

.statsHolder {
    min-height: 1.5em;
    max-height: 80%;
    margin: auto;
}

.chartAdv{
    /* display: inline-block; */
    /* width: 24%; */
    flex: 24%;
    min-width: 200px;
    height: 400px;
}

.chartBasic {
    /* float: left;
    clear: both; */
    height: 400px;
    /* width: 50%; */
    min-width: 200px;
    max-width: 40%;
    flex: 40%;
}

nav.graph {
    margin-left: 12.5%;
}

.stat {
    display: inline-block;
    width: 24%;
    max-width: 24%;
    min-width: 3em;
    margin: 0 auto;
}

.iconHeader {
    font-size: 5em;
    /* display: inline-flex; */
}

.titleHeader {
    padding-left: 2em;
}

.titleBox {
    display: flex;
    margin-bottom: 1em;
}

.banner, .content {
    /* min-width: 80%; */
    display: block;
    min-height: 5em;
    /* margin-left: 5em;
    margin-right: 5em; */
    margin: auto;
    padding: 0em 10em;
    padding-top: 2em;
    background-color: white;
}

.content {
    padding: 0em 10em;
    padding-bottom: 2em;
}

.bannerBox {
    /* display: inline-block; */
    min-width: 5em;
    max-width: 75%;
    vertical-align: top;
    margin: auto;
}

button, input[type=submit] {
    /* width: auto; */
    /* min-width: 10em; */
    margin: 0.2em;
    padding: 0.5em 1em;
    border-radius: 1em;
    font-weight: bold;
    background-color: #90c2e7;
    border-color: #315b79;
}

button.nav, input[type=submit], button.graph, button#temperature {
    min-width: 10em;
    /* margin: 0.2em; */
    /* padding: 0.5em 1em;     */
}

.enabled {
    background-color: #90e79e;
}

.disabled {
    background-color: #e79090;
}

/* =============== Temperature display specific CSS =============== */

.temp-box {
    position: relative;
    /* max-width: 25%; */
    /* min-width: 20em; */
    width: 18em;
    /* background: #b2dbeb; */
    padding: 1em;
    padding-left: 12.5%;
}

.temp-row {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    /* max-width: 25%; */
}

/* =============== Login page specific CSS =============== */

form.login {
    /* margin: auto; */
    /* width: 10em; */
    padding-top: 2em;
    width: 11em;
    vertical-align: top;
    margin: auto;
    margin-left: 12.5%;
}

label {
    font-weight: bold;
}

.loginError {
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 1em;
    text-align: center;
    margin: 1em 0em;
}

/* =============== Settings page specific CSS =============== */

.settings {
    display: flex;
}

.variableSettings {
    flex: 15%;
}

.relaySettings {
    flex: 80%;
}

.relayHeader {
    /* max-width: 50%; */
    margin-left: 10%;
}

.outputHolder {
    display: flex;
    justify-content: space-around;
    /* justify-content: safe; */
}

.output {
    flex: 33%;
    text-align: center;
    /* background: cadetblue; */
    min-width: 17em;
    max-width: 20em;
    margin: 0em 1em;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    flex: 50%;
    /* background: coral; */
}

.icon {
    font-size: 3em;
}

.iconBig {
    font-size: 5em;
}

.iconLine {
    height: 3em;
    width: 1em;
    margin: auto;
    background: black;
    z-index: 1;
    position: relative;
    top: 1.2em;
    border-radius: 1em;
}

.lineDiagHolderLeft, .lineDiagHolderRight {
    height: 2em;
    width: 50%;
}

.lineDiagHolderLeft {
    margin-left: 50%;
}

.lineDiagHolderRight {
    margin-right: 50%;
}

.left, .right {
    height: 1em;
    width: 100%;
    background: black;
    /* transform: rotate(-45deg); */
    /* transform-origin: 0% 100%; */
    border-radius: 1em;
    position: relative;
    top: 3.2em;    
}

.left {
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
}

.right {
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

button.relay {
    /* display: flex; */
    height: 4em;
    width: 4em;
    border-radius: 50%;
    margin: 1em auto;
    display:block;
    z-index: 2;
    position: relative;
}

.btn-relay-label {
    font-size: 0;
    height: 1px;
    overflow: hidden;
    display: block;    
}